<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
    <footer id="footer" class="neon-footer">
			<div class="footer-overlay"></div>
			<div class="inner">
				<ul class="footer-menu">
					<li class="footer-item">&copy; <span class="neon-text">More-F</span>. All rights reserved.</li>
					<li class="footer-item">Design: <a href="https://github.com/More-F" class="neon-link">Andres Moreno</a></li>
				</ul>
				<div class="footer-particles" id="footer-particles"></div>
			</div>
	</footer>
</body>
</html>